<app-navbar></app-navbar>

<div class="page container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.  nospa" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id='data-table'>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID ROUTE Column -->
      <ng-container matColumnDef="firsthour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> First Hour </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.firsthour}} </td>
      </ng-container>

      <!-- ID DEPOSIT Column -->
      <ng-container matColumnDef="secondhour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Second Hour </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.secondhour}} </td>
      </ng-container>

      <!-- ID DRIVER Column -->
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Period </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.period}} </td>
      </ng-container>

      <!-- EXPEDITION COUNTY Column -->
      <ng-container matColumnDef="medications">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Medications </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.medications}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

  <div>
    <button mat-button class="option-button" *ngIf="role=='doctor'" (click)='createTreatmentPlan()'>Create new treatment</button>
  </div>
</div>
