table {
  width: 100%;
  margin: auto;
}

mat-form-field{
  margin-left: 150px;
  margin-top: 20px;
}

div div {
  width: 80%;
  margin: auto;
}
#data-table{
  border: 10px;
  border-color: lightslategray;
  margin: 20px auto;  
}
.table-column{
  background-color:mediumaquamarine;
  font-size: medium;
  text-indent: 20px;
}
.table-column-content{
  padding-left: 20px;
}
.table-row{
  text-indent: 20px;
}
.table-row:hover{
  background-color:rgb(214, 202, 203);
}
.option-button {
  background-color: #e60000;
  color: white;
  padding: 5px 10px 5px;
  margin-right: 20px;
}
.mat-paginator{
  width: 80%;
}