<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>PATIENT</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://www.pngitem.com/pimgs/m/228-2282704_clip-art-cartoon-picture-of-doctor-and-patient.png">
    <mat-card-content>
      <p><strong>FIRST & LAST NAME: </strong>{{name}}</p>
      <p><strong>BIRTHDATE: </strong>{{birthdate}}</p>
      <p><strong>GENDER: </strong>{{gender}}</p>
      <p><strong>ADDRESS: </strong>{{address}}</p>
      <p><strong>MEDICAL RECORD: </strong>{{medrecord}}</p>
      <p><strong>CAREGIVER: </strong>{{caregiver_username}}</p>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>ROLE: </strong>{{role}}</p>
    </mat-card-content>
  </mat-card>
