<app-navbar></app-navbar>

<div class="page container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.  febra" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id='data-table'>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID CAREGIVER Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Medication ID </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Name </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.name}} </td>
      </ng-container>

      <!-- Dosage Column -->
      <ng-container matColumnDef="dosage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Dosage </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.dosage}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="sideEffects">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Side Effects </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.sideEffects}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

  <div>
    <button mat-button class="option-button" (click)='insertMedication()'>Insert new medication</button>
    <button mat-button class="option-button" (click)="deleteMedication()">Delete medication</button>
    <button mat-button class="option-button" (click)="updateMedication()">Update medication</button>
  </div>
</div>



