<mat-toolbar class="mat-elevation-z6">
    <span><mat-icon>medical_services</mat-icon>MedicalApp</span>
    <div class="spacer"></div>
    <a mat-button (click)="home()">Home</a>
    <a mat-button *ngIf="role=='doctor' || role=='caregiver'" (click)="getPatients()">Patients</a>
    <a mat-button *ngIf="role=='doctor'" (click)="getCaregivers()">Caregivers</a>
    <a mat-button *ngIf="role=='patient' || role=='doctor'" (click)="getTreatmentPlans()">Treatment Plans</a>
    <a mat-button *ngIf="role=='doctor'" (click)="getMedications()">Medications</a>
    <a mat-raised-button (click)="logout()">Logout</a>
</mat-toolbar>
