<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Name: </mat-label>
        <input matInput placeholder="Ex. nospa" [(ngModel)]="name" name="name" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Dosage: </mat-label>
        <input matInput placeholder="Ex. 23" [(ngModel)]="dosage" name="dosage" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Side Effects: </mat-label>
        <input matInput placeholder="Ex. durere cap, ameteli" [(ngModel)]="sideEffects" name="sideEffects" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='insertMedication()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>