
body{
    margin: 0;
    padding: 0;
}

body:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("https://image.freepik.com/free-vector/colorful-molecules-background_1035-6798.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.login-container {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: mediumaquamarine;
    background-color: rgb(60,60,60, 0.3)
}

.username {
    width: 236px;
}

.login-title {
    width: 236px;
    font-size: medium;
    text-align: center;
}

mat-card {
    background-color:mediumaquamarine;
}

#login{
    background-color: #e60000;
    color: white;
}