<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>First Hour: </mat-label>
        <input matInput placeholder="Ex. 12" [(ngModel)]="firsthour" name="firsthour" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Second Hour: </mat-label>
        <input matInput placeholder="Ex. 14" [(ngModel)]="secondhour" name="secondhour" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Period: </mat-label>
        <input matInput placeholder="Ex. 2" [(ngModel)]="period" name="period" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Pacient Username: </mat-label>
        <input matInput placeholder="Ex. ana.pop70" [(ngModel)]="pacient_username" name="pacient_username" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Medications: </mat-label>
        <input matInput placeholder="Ex. nospa, algocalmin" [(ngModel)]="medications" name="medications" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='insertTreatment()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>

