<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>CAREGIVER</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://cleanandhappynest.org/wpd/wp-content/uploads/2019/10/a-thank-you-to-family-caregivers-600x600.jpg">
    <mat-card-content>
      <p><strong>FIRST & LAST NAME: </strong>{{name}}</p>
      <p><strong>BIRTHDATE: </strong>{{birthdate}}</p>
      <p><strong>GENDER: </strong>{{gender}}</p>
      <p><strong>ADDRESS: </strong>{{address}}</p>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>ROLE: </strong>{{role}}</p>
    </mat-card-content>
  </mat-card>
