<app-navbar></app-navbar>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><strong>DOCTOR</strong></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://i.dlpng.com/static/png/5505732-doctor-doctors-patient-png-transparent-clipart-image-and-psd-doctor-patient-png-650_508_preview.png">
    <mat-card-content>
      <p><strong>ID: </strong>{{id}}</p>
      <p><strong>USERNAME: </strong>{{username}}</p>
      <p><strong>ROLE: </strong>{{role}}</p>
    </mat-card-content>
  </mat-card>
