<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Username: </mat-label>
        <input matInput placeholder="Ex. ana.maria97" [(ngModel)]="username" name="exp_client_id" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Name: </mat-label>
        <input matInput placeholder="Ex. Ana Maria Pop" [(ngModel)]="name" name="name" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Gender: </mat-label>
        <input matInput placeholder="Ex. female" [(ngModel)]="gender" name="gender" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Address: </mat-label>
        <input matInput placeholder="Ex. Str.Gr.Alexandrescu 24" [(ngModel)]="address" name="address" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Birthdate (yyyy-mm-dd):</mat-label>
        <input matInput placeholder="Ex. 1996-12-12" [(ngModel)]="birthdate" name="birthdate" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Medical Record: </mat-label>
        <input matInput placeholder="Ex. ruptura de menisc" [(ngModel)]="medrecord" name="medrecord" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Caregiver Username: </mat-label>
        <input matInput placeholder="Ex. dan.ioan81" [(ngModel)]="cusername" name="cusername" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='editPatient()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>

