<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Username: </mat-label>
        <input matInput placeholder="Ex. ana.maria97" [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='deleteCaregiver()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>

