<div ngNativeValidate>
    <mat-form-field class="example-full-width">
        <mat-label>Name: </mat-label>
        <input matInput placeholder="Ex. nospa" [(ngModel)]="name" name="name" required>
    </mat-form-field>
    <br><br>
    <div class="add-dialog-buttons">
        <button mat-button (click)='deleteMedication()'>OK</button>
        <button mat-button (click)='closeDialog()'>Cancel</button>
    </div>
</div>