/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://previews.123rf.com/images/samarttiw/samarttiw1505/samarttiw150500016/40534282-medical-background-and-icons-to-treat-patients-.jpg');
    background-position:50% 50%;
  }
