<app-navbar></app-navbar>

<div class="page container">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex.  febra" #input>
  </mat-form-field>

  <div class="mat-elevation-z8" id='data-table'>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID CAREGIVER Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Caregiver ID </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Name </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.name}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Gender </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.gender}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Address </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.address}} </td>
      </ng-container>

      <!-- Birthdate Column -->
      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Birthdate </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.birthdate}} </td>
      </ng-container>

      <!-- Caregiver Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-column"> Caregiver Username </th>
        <td mat-cell *matCellDef="let element" class="table-column-content"> {{element.username}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

  <div>
    <button mat-button class="option-button" (click)='insertCaregiver()'>Add new caregiver</button>
    <button mat-button class="option-button" (click)="deleteCaregiver()">Delete caregiver</button>
    <button mat-button class="option-button" (click)="updateCaregiver()">Update caregiver</button>
  </div>
</div>


